APLpy==0.9.11
BeautifulSoup==3.2.1
DateTime==4.0.1
Flask==0.10.1
Flask-Restless==0.13.1
Flask-SQLAlchemy==2.0
GDAL==1.10.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.9
Shapely==1.3.2
Sphinx==1.2.2
Werkzeug==0.10.4
azure==0.8.0
backports.ssl-match-hostname==3.4.0.2
gnureadline==6.3.3
gunicorn==19.3.0
h5py==2.3.0
ipython==3.1.0
itsdangerous==0.24
mechanize==0.2.5
## FIXME: could not find svn URL in dependency_links for this package:
mercurial==2.6.2-20130606
mimerender==0.5.5
mpi4py==1.3.1
mpmath==0.18
patsy==0.2.1
pexpect==3.2
pyglet==1.2alpha1
pymongo==2.7
pyobjc==2.2
pyregion==1.1.2
pysqlite==2.6.3
python-dateutil==2.4.2
python-mimeparse==0.1.4
pytz==2015.2
pyzmq==14.3.0
requests==2.3.0
six==1.9.0
tornado==3.2.1
vboxapi==1.0
zope.interface==4.1.2
